
.tabs-holder {
  background-color: #f2f2f2;
  height: 100px;
  .tab {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 26px;
      font-weight: 600;
      margin: 20px 0 0 ;
      line-height: 1;
      width: 150px;
    }
    p {
      white-space: nowrap;
      width: 150px;
    }
    &.active {
      h1 {
        color: $red;
        width: 150px;
      }
      p {
        color: $grey;
        white-space: nowrap;
        width: 150px;
      }
      background-color: white;
    }

  }
}
.section-tabs {
  height: 50px;
  .section-tab {
    font-weight: bold;
    height: 100%;
    opacity: .3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    i {
      color: $red;
      font-size: 20px;
    }
    &.active {
      opacity: 1;
    }
  }
}
.bg-white {
  background-color: #FFFFFF;
}