.item-direct-sales {
    border: 1px solid #e1e1e1;
    margin-top: 20px;
    padding: 20px 20px;
    position: relative;
    a {
        color: $black;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        border-bottom-color: #db0000;
        border-bottom-width: 6px;
        .more {
            display: flex !important;
        }
    }
    .tag {
        background-color: $red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 10px;
        position: absolute;
        top: -32px;
        right: 0;
    }
    .more {
        background-color: $red;
        bottom: -38px;
        color: white;
        display: none;
        font-size: 16px;
        padding: 6px 10px;
        position: absolute;
        right: -1px;
    }
    h1 {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
    }
    p {
        color: $grey;
        font-size: 12px;
        margin: 0;
    }
    strong {
        display: block;
        font-size: 12px;
    }
    .price {
        color: $red;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
    }

    .selo{
        width: 70px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.item-used {
    border: 1px solid #e1e1e1;
    position: relative;
    .body {
        padding: 20px 20px;
    }
    .image-holder {
        @extend .background-image;
        height: 180px;
    }
    .tag {
        background-color: $red;
        color: white;
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
        padding: 5px 10px;
        text-align: center;
        width: 50px;
    }
    h1 {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
    }
    p {
        color: $grey;
    }
    .description {
        font-size: 16px;
    }
    .price {
        color: $red;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
        sup {
            top: -7px !important;
        }
    }
    .info {
        display: flex;
        .left {
            text-align: center;
            flex-grow: 1;
            background-color: #f2f2f2;
            color: #212529;
            padding: 5px;
        }
        .right {
            background-color: #d9d9d9;
            color: #212529;
            text-align: center;
            flex-grow: 1;
            padding: 5px;
        }
    }
    .more {
        background-color: $red;
        bottom: -40px;
        color: white;
        display: none;
        padding: 8px 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    &:hover {
        .more {
            display: block;
        }
    }
}

.item-part,
.item-service {
    border: 1px solid #e1e1e1;
    position: relative;
    min-height: 340px;
    .more {
        background-color: $red;
        bottom: -40px;
        color: white;
        display: none;
        padding: 8px 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    h1 {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
    }
    p {
        color: $grey;
    }
    .body {
        padding: 20px 20px;
    }
    .image-holder {
        @extend .background-image;
        background-size: contain !important;
        height: 180px;
    }
    .price {
        color: $red;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
        sup {
            top: -7px !important;
        }
    }
    &:hover {
        .more {
            display: block;
        }
    }
}

.item-service {
    .image-holder {
        background-size: cover !important;
    }
}
.border-item-moto {
    border: solid 2px white;
    // height: auto;
    border-bottom-color: white;
    border-bottom-width: 6px;
    &:hover,
    &.active {
        border-bottom-color: #db0000;
        border-bottom-width: 6px;
    }
}
.item-monte-seu {
    border: 1px solid #e1e1e1;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px 10px;
    position: relative;
    // &:hover,
    // &.active {
    //     border-bottom-color: #db0000;
    //     border-bottom-width: 6px;
    // }
    h1 {
        font-size: 16px;
        font-weight: 700;
        margin: 0 10px;
    }
    p {
        margin: 0 10px;
    }
}
.itemColor {
    img.color_image {
        display: block;
        margin: 0 auto;
        width: 60%;
        max-height: 700px;
    }
    .colors-line {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .color_holder {
            display: flex;
            cursor: pointer;
            .color_box {
                align-items: center;
                border: 1px solid #d6d6d6;
                color: #fff;
                display: flex;
                justify-content: center;
                margin: 0 0 0 10px;
                height: 30px;
                text-shadow: 0 0 2px black;
                width: 30px;
            }
            .color_text {
                border: 1px solid #d6d6d6;
                height: 28px;
                padding: 3px 10px;
                white-space: nowrap;
                margin: 1px 0 0 -1px;
            }
        }
    }
}
