.active-dark-mode {
    background-color: #1a1a1a;
    color: white !important;
    .container-fluid,
    .row,
    .tab,
    .container,
    .form-side,
    .subfooter,
    .contato,
    .box-quem-somos,
    .bg-white,
    .tabs-holder,
    .botao-menu,
    main.main,
    body,
    p {
        background-color: #1a1a1a !important;
        color: white !important;
        background-image: none !important;
    }
    .border-item-moto {
    border: solid 2px #1a1a1a;
    // height: auto;
    border-bottom-color: #1a1a1a;
    border-bottom-width: 6px;
    &:hover,
    &.active {
        border-bottom-color: #db0000;
        border-bottom-width: 6px;
    }

    // .contato .form-side input[type="text"]{
    //     background-color: transparent !important;
    //     color: #fff;

    //     &:focus{
    //         background-color: transparent !important;
    //         border: none;
    //         outline: none;
    //     }
    // }
}
    #div-footer footer {
        &.active-dark-mode {
            background-color: #1a1a1a !important;
            color: white !important;
        }
    }
    .section-title {
        h1 {
            color: white !important;
        }
    }
    .page {
        h1,
        p {
            color: white;
        }
    }
    .item-part,
    .item-service {
        h1,
        p,
        .description {
            color: white;
        }
    }
    .item-direct-sales {
        h1,
        p,
        .description,
        strong {
            color: white;
        }
    }
    .item-used {
        h1,
        p,
        .description,
        strong {
            color: white;
        }
    }
    .title-page {
        h1,
        p {
            color: white;
        }
    }
    .text-quem-somos p {
        color: white;
    }
    .box-quem-somos {
        background-color: #e8e8e8;
        color: $grey !important;
    }
    .contato {
        .text-side {
            color: white !important;
        }
    }

    .seminovo {
        strong {
            color: #fff;
        }
        .form-orcamento {
            p {
                color: #fff !important;
            }

            .pt-5 {
                padding-top: 0 !important;
            }
            .all-info {
                background-color: transparent !important;

                .form-control {
                    background: none;
                    color: #fff;
                    border: 1px solid #fff;

                    &::placeholder {
                        color: #fff;
                    }
                    &:-moz-placeholder {
                        color: #fff;
                    }
                    &:-o-placeholder {
                        color: #fff;
                    }
                    &:-ms-placeholder {
                        color: #fff;
                    }
                    &:-webkit-placeholder {
                        color: #fff;
                    }
                }
            }
        }
    }
    .accordion {
        .nav-pills {
            .nav-item {
                .nav-link {
                    color: #fff !important;
                }
            }
        }
    }
    .tabs-holder {
        background-color: #2e2e2e;
        span, strong, h1, p {
            color: white;
        }
    }
}

header.active-dark-mode {
    .row, .menu-mobile {
        background-color: #1a1a1a;
    }
    .menu li,
    .navbar-nav li {
        &:hover {
            background-color: #4e4e4e;
        }
        a {
            color: white !important;
            &:hover {
                background-color: #4e4e4e;
            }
        }
    }
}
