.empresa {
    &-box {
        background: $black;
        color: #fff;
    }

    &-content {
        p {
            padding-top: 4em;
        }
        h4 {
            padding-bottom: 3em;
            color: #0a0808;
        }
        .card {
            border: none;
            box-shadow: 0px 0px 5px #00000014;

            &-body {
                padding: 0;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: none;
                    transition: 0.5 all;
                    color: #fff;
                    z-index: 1;
                }
            }
            .bg {
                display: none;
                background: #000000d9;
                width: 100%;
                height: 100%;
                padding: 0;
            }

            &:hover {
                ul {
                    display: block;
                }

                .bg {
                    display: block;
                }
            }
        }
    }
}
