footer {
    &.active-dark-mode {
        background-color: #1a1a1a;
        a,
        p,
        strong {
            color: white !important;
        }
    }

    .icon-zap {
        position: fixed;
        // min-height: 60px;
        max-height: 100px;
        bottom: 1vh;
        right: 1vh;
        margin-right: 5px;
        margin-bottom: 5px;
        z-index: 1;
        cursor: pointer;
    }

    background-color: $grey-light;
    // height: 440px;
    padding:{
        bottom: 90px;
        top: 50px;
    }
    position: relative;
    @media screen and (max-width: 768px) {
        padding:{
            top: 30px;
            bottom: 70px;
        }
        // height: 340px;
    }
    strong {
        display: block;
        font-size: 16px;
        margin-bottom: 14px;
    }
    hr {
        border-bottom: #dedede 1px solid;
        margin: 20px 20px;
        width: 100%;
    }
    .menu-footer {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            font-size: 14px;
            width: 50%;
            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }
        a {
            color: $grey;
        }
    }
    p {
        font-size: 12px;
    }
    .address {
        font-size: 14px;
        color: $grey;
        a {
            color: $grey;
            margin-top: 10px;
            i {
                color: $red;
                font-size: 18px;
            }
        }
    }
    .subfooter {
        background-color: white;
        bottom: 0;
        height: 60px;
        position: absolute;
        width: 100%;

        .download-app,
        .link {
            align-items: center;
            display: flex;
            height: 60px;

            strong {
                margin-bottom: 0;
                margin-right: 15px;
            }

            &-content {
                ul {
                    list-style: none;

                    @media (min-width: 992px) {
                        display: flex;
                    }

                    li {
                        padding-right: 13px;
                        .interesse {
                            height: 33px;

                            &:hover {
                                text-decoration: none;
                                color: #fff;
                            }

                            @media (max-width: 992px) {
                                width: 100%;
                            }
                        }
                    }
                }

                @media (min-width: 992px) {
                    margin-left: -86px;
                }
            }

            @media (max-width: 992px) {
                display: grid;
                justify-content: center;
            }
        }
        .footer-logo {
            width: 70px;
            @media (min-width: 992px) {
                position: absolute;
                margin-top: -8px;
                right: 0;
            }
        }
    }
}
