header {
    @media screen and (max-width: 1199px) {
        position: fixed;
        z-index: 10000;
        background-color: #fff;
        width: 100%;
    }

    .logo img{
        width: 200px;
    }

    .acessiblity {
        background-color: $grey-light;
        color: $grey;
        font-size: 14px;
        height: 29px;
        padding-top: 4px;
        .left-side {
            float: left;
            margin-left: 160px;
            width: 400px;
            @media screen and (max-width: 1600px) {
                margin-left: 100px;
            }
            @media screen and (max-width: 992px) {
                margin-left: 10px;
            }
            .light-mode {
                background-color: white;
                border-radius: 50%;
                border: $grey solid 1px;
                height: 15px;
                margin: 0 4px 0 20px;
                outline: none;
                width: 15px;
            }
            .dark-mode {
                background-color: $black;
                border-radius: 50%;
                border: $grey solid 1px;
                height: 15px;
                margin: 0 20px 0 4px;
                outline: none;
                width: 15px;
            }
            .font-increase {
                margin-left: 20px !important;
            }
            .font-increase,
            .font-decrease {
                background-color: transparent;
                border: none;
                outline: none;
                margin: 0 6px;
            }
        }
        .right-side {
            display: flex;
            float: right;
            justify-content: space-between;
            margin-right: 200px;
            width: 300px;
            @media screen and (max-width: 992px) {
                margin-right: 10px;
            }
            a {
                color: $grey;
            }
        }
    }
    nav {
        font-size: 18px;
        height: 110px;
        background-color: #ffffff;
        color: $black;
        @media screen and (max-width: 992px) {
            height: 80px;
        }
        .logo {
            align-items: center;
            display: flex;
            height: 90%;
            margin-left: 160px;
            img {
                width: 250px;
            }
            @media screen and (max-width: 1600px) {
                margin-left: 0;
            }
        }
        .menu {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            // padding-right: 160px;
            padding-left: 200px;
            width: 100%;
            @media screen and (max-width: 1600px) {
                padding-left: 0;
                padding-right: 0;
            }
            li {
                align-items: center;
                display: flex;
                height: 110px;
                a {
                    color: $black;
                    padding: 0 20px;
                    position: relative;
                    &.zap {
                        align-items: center;
                        background-color: $zap;
                        display: flex;
                        color: white;
                        justify-content: center;
                        font-size: 16px;
                        height: 48px;
                        width: 170px;
                        white-space: nowrap;
                        &:hover {
                            text-decoration: none;
                            background-color: $teal;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        background-color: $grey-light;
                    }
                }
                &:hover {
                    background-color: $grey-light;
                }
                &:last-child {
                    background-color: transparent !important;
                }
            }

            .right-angle-arrow:after {
                bottom: 3px;
                border-bottom: 12px solid $red;
                border-left: 12px solid transparent;
                border-right: 0 solid transparent;
                border-top: 0 solid transparent;
                content: "";
                display: block;
                height: 0;
                position: absolute;
                right: 5px;
                width: 0;
            }
            .right-ball:after {
                background-color: $red;
                border-radius: 50%;
                content: "";
                display: block;
                height: 10px;
                position: absolute;
                right: 5px;
                top: 0;
                width: 10px;
            }
        }
    }
}

.menu-mobile-open {
    background-color: #0000;
    border: none;
    color: $red;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.menu-mobile {
    height: 100%;
    padding-top: 15px;
    .head-menu {
        display: flex;

        .logo {
            flex-grow: 2;

            img {
                display: block;
                margin: 0 auto;
                width: 80%;
            }
        }

        .fechar {
            background-color: transparent;
            border: none;
            color: $red;
            font-size: 30px;
            flex-grow: 1;
            width: 80px;
        }
    }
    .navbar-nav {
        padding-top: 30px;
        li {
            display: block;
            height: 100%;
            text-align: right;
            width: 92%;
            a {
                color: $black;
                font-size: 16px;
                padding: 5px 20px 0;
                margin-bottom: 20px;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;

                &.right-angle-arrow:after {
                    bottom: 3px;
                    border-bottom: 12px solid $red;
                    border-left: 12px solid transparent;
                    border-right: 0 solid transparent;
                    border-top: 0 solid transparent;
                    content: "";
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 5px;
                    width: 0;
                }
                &.right-ball:after {
                    background-color: $red;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 10px;
                    position: absolute;
                    right: 5px;
                    top: 0;
                    width: 10px;
                }
            }
        }
    }
    .zap {
        align-items: center;
        background-color: $red;
        display: flex;
        color: white;
        justify-content: center;
        font-size: 16px;
        height: 48px;
        width: 170px;
        margin: 20px auto;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
            background-color: $red;
        }
    }
}
