.follow {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 150px;

    .title {
        color: #e8e8e8;
        font-size: 120px;
        margin-bottom: -30px;
    }
    .row-buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        .button-facebook,
        .button-instagram,
        .button-twitter,
        .button-tiktok,
        .button-youtube {
            align-items: center;
            color: white;
            display: flex;
            height: 58px;
            font-size: 16px;
            justify-content: space-around;
            padding: 0 10px;
            // width: 180px;
            width: 200px;

            &:hover {
                text-decoration: none;
            }
        }
        .button-facebook {
            background-color: #4169E1;
        }
        .button-instagram {
            background-color: #db005d;
        }
        .button-twitter {
            background-color: black;
        }
        .button-youtube {
            background-color: black;
        }
        .button-tiktok {
            background-color: #4285f4;
        }
    }
}

.section-title {
    position: relative;
    width: 280px;
    margin-bottom: 50px;
    h1 {
        color: $black;
        font-size: 35px;
        font-weight: bold;
        margin: 0;
    }
    h2 {
        color: $red;
        font-size: 27px;
    }
    &:after {
        bottom: 3px;
        border-bottom: 20px solid $red;
        border-left: 20px solid transparent;
        border-right: 0 solid transparent;
        border-top: 0 solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 5px;
        width: 0;
    }
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        h1 {
            font-size: 26px !important;
        }
        h2 {
            font-size: 18px !important;
        }
    }
}

.what-your-want {
    .card-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 300px;
        margin: 0 auto;
        max-width: 255px;
        position: relative;
        text-align: center;
        width: 100%;

        h1 {
            color: white;
            font-size: 20px;
            font-weight: 900;
        }
        p {
            color: white;
            font-size: 14px;
        }
        a {
            color: white;
            text-decoration: none;
        }
        .bg {
            background-color: rgba(26, 26, 26, 0.6);
            border-radius: 10px;
            height: 100%;
            padding-top: 100px;
            position: absolute;
            width: 100%;
        }
        &:hover .bg {
            background-color: rgba(219, 0, 0, 0.8);
        }
    }
}
