.page {
    padding-top: 50px;
}

.title-page {
    h1 {
        color: $black;
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        strong {
            color: $red;
        }
    }
    p {
        color: $grey;
        font-size: 24px;
    }
}

.quem-somos {
    padding-top: 50px;
    h3 {
        color: $red;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        color: $grey;
        font-size: 14px;
        margin: 0;
    }
    .box-quem-somos {
        background-color: #f8fafc;
        left: -180px;
        padding: 50px 30px;
        position: absolute;
        top: 100px;
        width: 150%;
    }
    .icons-quem-somos {
            margin-left: 10px;
            height: 25px;        
        }
    div.row {
        // margin-left: 1px;
        margin-top: 50px;
        .icons-quem-somos {
            margin-right: 10px;
        }
        h3.h3-text-quem-somos {
            color: gray !important;
        }
    }
}

.contato {
    @extend .background-image;
    height: 800px;
    @media screen and (max-width: 1199px) {
        height: 1000px;
    }
    .text-side {
        padding: 150px 0 0 0;
        margin-left: 42%;
        max-width: 480px;
        width: 100%;
        @media screen and (max-width: 1199px) {
            padding: 50px 0 0 0;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .form-side {
        background-color: white;
        margin-top: 100px;
        padding: 40px 60px;
        max-width: 500px;
        width: 100%;
        @media screen and (max-width: 1199px) {
            padding: 20px 30px;
            margin: 30px auto;
        }
        input[type="text"],
        input[type="email"],
        input[type="phone"],
        select {
            height: 60px;
        }
        button {
            background-color: $red;
            border: none;
            color: white;
            font-size: 16px;
            padding: 10px;
            width: 160px;
        }
    }
}
.btn-send {
    background-color: $red;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 160px;
}

.seminovo {
    .tag {
        background-color: $red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 10px;
        position: absolute;
        right: 0;
    }
    h1 {
        font-size: 26px;
        font-weight: bold;
    }
    strong {
        font-size: 20px;
        font-weight: bold;
    }
    .price {
        color: $red;
        font-size: 50px;
        font-weight: 800;

        sup {
            top: -7px !important;
        }
    }

    .info {
        display: flex;
        width: 80%;
        .left {
            text-align: center;
            flex-grow: 1;
            background-color: #f2f2f2;
            color: #212529;
            padding: 5px;
        }
        .right {
            background-color: #d9d9d9;
            color: #212529;
            text-align: center;
            flex-grow: 1;
            padding: 5px;
        }
    }
    .more {
        background-color: $red;
        bottom: 10px;
        color: white;
        padding: 8px 10px;
        position: absolute;
        text-align: center;
        width: 150px;
        right: 6px;
        margin-bottom: 6px;
        a {
            color: #fff;
        }
    }
    hr {
        bottom: -8px;
        position: absolute;
        width: 100%;
        display: block;
        border: 5px solid #db0000;
        left: -16px;
    }
    .all-info {
        background-color: #f2f2f2;
        padding: 40px;
        margin: 40px 0;
        ul {
            margin: 10px 0;
            padding: 0;
            li {
                display: inline-block;
                width: 30%;
                margin: 10px 3% 0 0;
                font-size: 16px;
                padding-left: 10px;
            }
        }
    }

    .interesse-seminovo {
        padding-top: 8em;
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .accordion {
        .nav-pills {
            .nav-item {
                width: calc(100% / 6);
                .nav-link {
                    color: #1a1a1a4f;
                    &.active {
                        background-color: transparent;
                        color: #1a1a1a;
                        font-weight: 700;

                        &:after {
                            bottom: 3px;
                            border-bottom: 6px solid #db0000;
                            border-left: 6px solid transparent;
                            border-right: 0 solid transparent;
                            border-top: 0 solid transparent;
                            content: "";
                            display: block;
                            height: 0;
                            position: relative;
                            right: 5px;
                            width: 0;
                            transform: translate(111px, -8px);
                            transform: translate(140px, -8px);
                            font-weight: 900;
                        }
                    }
                }
            }
            .interesse {
                align-items: center;
                background-color: #db0000;
                display: flex;
                justify-content: center;
                height: 48px;
                width: 170px;
                white-space: nowrap;

                .nav-link {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
        }
        .tab-content {
            .tab-pane {
                .background {
                    background-size: cover;
                    background-position: 50%;
                    height: 278px;
                    position: absolute;
                    right: 0;
                    width: 93%;

                    p {
                        color: #fff;
                        position: absolute;
                        right: 0;
                        font-size: 40px;
                        width: 52%;
                        font-weight: 600;
                        line-height: 1;
                        padding: 52px 0px 16px;

                        hr {
                            width: 75%;
                            left: 0;
                        }
                    }
                }

                .bg {
                    background: red;
                    margin-top: 32px;
                    height: 273px;
                    width: 98%;
                }
            }
        }
    }

    .bg-gallery {
        height: 330px;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}
