.car-item {
  @extend .background-image;
  border-radius: 30px;
  height: 360px;
  max-width: 280px;
  margin: 30px auto;
  position: relative;
  width: 90% !important;
  @media screen and (max-width: 1199px) {
    height: 260px;
  }
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0px;
    @media screen and (max-width: 1199px) {
      font-size: 20px;
    }
  }
  p {
    align-items: center;
    color: white;
    display: flex;
    font-size: 16px;
    @media screen and (max-width: 1199px) {
      font-size: 14px;
    }
    i {
      color: $red;
      font-size: 42px;
      margin-left: 30px;
      @media screen and (max-width: 1199px) {
        font-size: 35px;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .bg {
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 30px;
    height: 100%;
    max-width: 280px;
    padding: 90% 10px 0 20px;
    position: absolute;
    width: 100%;
    @media screen and (max-width: 1199px) {
      padding: 70% 10px 0 20px;
    }
  }
}

.banner {
  @extend .background-image;
  min-height: 600px;
  @media screen and (max-width: 1200px) {
    min-height:400px;
  }
  @media screen and (max-width: 768px) {
    min-height:300px;
  }
  @media screen and (max-width: 560px) {
    min-height:150px;
  }
}

.banner-footer {
  @extend .background-image;
  margin: 150px auto 0;
  min-height: 400px;
  width: 90%;
  @media(max-width: 992px){
    background-size: contain;
  }
  @media screen and (max-width: 1200px) {
    margin: 50px auto 0;
    min-height:300px;
  }
  @media screen and (max-width: 768px) {
    min-height:200px;
  }
  @media screen and (max-width: 560px) {
    min-height:150px;
  }
}

.slick{
  &-prev, &-next{
    svg{
      fill: #fff !important;
    }
    &:before{
      content: '' !important;
    }
  }
}