// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Oxanium", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
// $red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Project Custom
$grey-light: #f2f2f2;
$grey: #696969;
$black: #1a1a1a;
$red: #db0000;
$zap: $red;
